<header>

  <div id="app-title">
    <button mat-button id="bttnBack" class="redBackground" type="button" name="bttnBack" (click)="clickedBack()">Zurück</button>
    <h1 id="h1InAppTitle">
      {{objHeaderData?.getTitle()}}
    </h1>
  </div>

  <div id="app-path">
    <p>
        <a routerLink="/start">
         {{objHeaderData?.getPath()}}
        </a>
    </p>
  </div>

  <div id="app-date">
    <p>
      {{strDatetime}}
    </p>
  </div>

  <div id="app-message">
    <p>
      {{objHeaderData?.getMessage()}}
    </p>
  </div>

</header>

<hr/>
