
*{
  font-size: 25px;
}

.delete{
  color: white;
  padding: 5px;
  background-color: #d80030;
  border: 1px solid black;
  border-radius: 8px;
}

select{
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}

input{
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;

}

.submit{
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  padding: 5px;
}

.addField{
  background-color: #4b565e;
  color: white;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 8px;
}


#container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);   /* 1 - 10 */
  grid-template-rows: repeat(4, 1fr);      /* 1 - 5 */
  width: 100vw;
  height: 100vh;
}


.row > label > span{
  grid-column-start: 1;
  grid-column-end: 2;
}

.row > label > input{
  grid-column-start: 1;
  grid-column-end: 2;
}

.row > label > span{
  grid-column-start: 1;
  grid-column-end: 2;
}
