<div class="container">
<!--<form [formGroup]="objFormControl" (ngSubmit)="onSubmit()">-->
<form [formGroup]="form" (ngSubmit)="onSubmit()" >

  <div class="row">
    <label>

      <!-- display the meta input field for the name of the category -->
      <span >Kategoriename:</span>
      <input  type="text" formControlName="objCatName" placeholder="z. B. 'Raum'" >

    </label>
  </div>


  <div formArrayName="contentDescriptions">

    <div *ngIf="form.get('contentDescriptions')['controls']">

      <!-- iterate through the content descriptions array -->
      <div [formGroupName]="i" *ngFor="let contentItem of form.get('contentDescriptions')['controls']; let i=index">
          <label >

          <!-- create a index in a hidden input field, because the backend needs it -->
          <input  type="text" formControlName="hiddenIndex" class="hide" name="hiddenIndex" value="{{i+1}}">
          <input type="text"  formControlName="detailName" placeholder="Name des Details" value="Detail" name="detailName">

          <select formControlName="detailType" name="detailType">
            <option value="textfield" selected="selected">Textfeld</option>
            <option value="number">Zahl</option>
            <!--<option value="file">Datei</option>-->
            <option value="date">Datum</option>
            <!--<option value="dateAndTime">Datum und Uhrzeit</option>-->
          </select>
          <select formControlName="optionalOrMandatory" name="optionalOrMandatory">
            <option value="optional" selected="selected">Optional</option>
            <option value="mandatory">Pflichtfeld</option>
          </select>

        </label>
        <!-- delete the attribute in the array and in the template -->
        <button mat-button (click)="deleteContentDescription(i)" type="button" class="delete"  > löschen</button>

      </div>
    </div>
  </div>



  <div class="row submitrow">
    <button mat-button id="addRow" (click)="addNewDetail()" type="button" class="addField">
     Detail hinzufügen!
    </button>
    <button mat-button (click)="abort()" type="button" class="abort">
     Abbrechen!
    </button>

    <button disabled mat-button class="submit" type="submit" [disabled]="!form.valid">Fertig!</button>
  </div>

</form>
</div>
