
<main>

  <div *ngIf="jsonData?.categories.length == 0" >
    <h1> Keine Kategorien vorhanden </h1>
    <br>
    <p>Zum Anlegen von Kategorien bitte "Kategorie erstellen" wählen </p>
  </div>

  <div *ngIf="jsonData?.categories.length > 0">

    <h1>vorhandene Kategorien: </h1>

    <div id="container" class="redBackground" *ngFor="let category of jsonData?.categories">

      <div class="leftPlaceholder">
      </div>

      <div class="divname">
        <p> {{ category.name }} </p>

      </div>

      <div class="divcount">
        <p> Anzahl Objekte: {{ category.count }}</p>
      </div>

      <div class="rightPlaceholder">
      </div>

    </div>  <!-- container ende -->

</div>

</main>
