
main {
  margin: 40px;
}

main > h1 {
  font-size: 33px;
  margin-left: 9px;
  margin-bottom: 20px;
}

button {

  width: 100%;
  padding: 30px;
  font-size: 25px;

/*  background-color: #d80030;   geregelt über class und globale styles.css
    :hover ebenfalls
*/
  color: white;
  border: 1px solid black;
  border-radius: 8px;
}

.classOption{
    margin: 10px 0px;
}
