
/*
* {
    background-color: rgba(234,235,235);  geregelt über class und globale styles.css
}
*/


#container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);   /* 1 - 10 */
  grid-template-rows: repeat(4, 1fr);      /* 1 - 5 */
  width: 100vw;
  height: 100vh;

}


/*
appHeader, #leftPlaceholder, main, #rightPlaceholder {
 margin: 3px;
  border: 1px dashed black;
}
*/

app-header {
  grid-column: 2 / 9;
  grid-row: 1 / 2;
}

#leftPlaceholder {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

main {
  grid-column: 2 / 9;
  grid-row: 2 / 5;
}

#rightPlaceholder {
  grid-column: 9 / 10;
  grid-row: 1 / 5;
}
