<div class="container">
<!--<form [formGroup]="objFormControl" (ngSubmit)="onSubmit()">-->
<form [formGroup]="form" (ngSubmit)="onSubmit()" >

  <div class="row">
    <label>

      <span >Objektname:</span><span class="mandatory">*</span>
      <!--<input type="text">-->

        <input  type="text" formControlName="objCatName" placeholder="z. B. '2-232'" >

      <!--<input type="text">-->
    </label>
  </div>
  <hr />
      <div *ngFor="let detail of detailsObj.details; let i=index">
          <!--<textarea [formControlName]="i" name="" id="" cols="30" rows="6" placeholder="Enter Description"></textarea>-->
            <p class="detailName">{{detail.name}}<span class="mandatory" *ngIf="detail.optionalOrMandatory === 'Pflichtfeld'">*</span></p>
            <div *ngIf="detail.type === 'textfield'">
              <input formControlName="{{detail.name}}" type="text"  placeholder="Wert des Details" name="detail">
            </div>
            <div *ngIf="detail.type === 'date'">
              <input formControlName="{{detail.name}}" type="date"  placeholder="Wert des Details" name="detail">
            </div>
            <div *ngIf="detail.type === 'file'">
              <input formControlName="{{detail.name}}" type="file"  placeholder="Wert des Details" name="detail">
            </div>
            <div *ngIf="detail.type === 'number'">
              <input formControlName="{{detail.name}}" type="number"  placeholder="Wert des Details" name="detail">
            </div>
            <div *ngIf="detail.type === 'dateAndTime'">
              Datum: <input formControlName="{{detail.name}}-Date" type="date"  placeholder="Wert des Details" name="detail">
              Uhrzeit: <input formControlName="{{detail.name}}-Clock" type="time"  placeholder="Wert des Details" name="detail">
            </div>
            <hr />
      </div>



  <div class="row submitrow">

    <button  mat-button class="submit" type="submit" [disabled]="!form.valid">Fertig!</button>
  </div>

</form>
</div>
