
<main>


  <form [formGroup]="form" (ngSubmit)="onSubmit()" >

  <!-- display the meta input field for the name of the object -->
  <div class="row">
    <label>
      <span >Objektname:</span><span class="mandatory">*</span>
      <input  type="text" formControlName="objObjName" placeholder="z. B. '2-232'" >
    </label>
  </div>
  <hr />

  <div class="container" *ngIf="objAttributes?.attributes.length > 0">

      <!-- iterate through the attributes array -->
      <div *ngFor="let attribute of objAttributes?.attributes; let i=index">
            <p class="attributeName">{{attribute.name}}<span class="mandatory" *ngIf="attribute.mandatory === 1">*</span></p>
            <!-- display the input fields with the proper type depending on array -->
            <div *ngIf="attribute.typ === 'textfield'">
              <input formControlName="{{attribute.name}}" type="text"  placeholder="Wert des Attributs" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'date'">
              <input formControlName="{{attribute.name}}" type="date"  placeholder="Wert des Attributs" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'file'">
              <input formControlName="{{attribute.name}}" type="file"  placeholder="Wert des Attributs" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'number'">
              <input formControlName="{{attribute.name}}" type="number"  placeholder="Wert des Attributs" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'dateAndTime'">
              Datum: <input formControlName="{{attribute.name}}-Date" type="date"  placeholder="Wert des Attributs" name="attribute">
              Uhrzeit: <input formControlName="{{attribute.name}}-Clock" type="time"  placeholder="Wert des Attributs" name="attribute">
            </div>
            <hr />
      </div>




  </div>
  <div class="container" *ngIf="objAttributes?.attributes.length == 0">

      <p>Kategorie hat noch keine Attribute</p>
      <p>Über "Kategorie bearbeiten" hinzufügen</p>

    </div>


      <div class="row submitrow">
        <button mat-button (click)="abort()" type="button" class="abort">
         Abbrechen!
        </button>
        <!-- if all required inputs fields are filled it is clickable and can be sent to backend -->
        <button  mat-button class="submit" type="submit" [disabled]="!form.valid">Fertig!</button>
      </div>

  </form>





</main>
