
<main>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >

  <div class="row">
    <label>
      <span >Objektname:</span><span class="mandatory">*</span>
      <input  type="text" formControlName="objObjName" placeholder="z. B. '2-232'" >
    </label>
  </div>
  <hr />

      <div *ngFor="let attribute of objAttributes?.attributes; let i=index">
          <!--<textarea [formControlName]="i" name="" id="" cols="30" rows="6" placeholder="Enter Description"></textarea>-->
            <p class="attributeName">{{attribute.name}}<span class="mandatory" *ngIf="attribute.mandatory === '1'">*</span></p>
            <div *ngIf="attribute.typ === 'Einfaches Textfeld'">
              <input formControlName="{{attribute.name}}" type="text"  placeholder="Wert des attributes" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'Datum'">
              <input formControlName="{{attribute.name}}" type="date"  placeholder="Wert des attributes" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'file'">
              <input formControlName="{{attribute.name}}" type="file"  placeholder="Wert des attributes" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'Zahl'">
              <input formControlName="{{attribute.name}}" type="number"  placeholder="Wert des attributes" name="attribute">
            </div>
            <div *ngIf="attribute.typ === 'dateAndTime'">
              Datum: <input formControlName="{{attribute.name}}-Date" type="date"  placeholder="Wert des attributes" name="attribute">
              Uhrzeit: <input formControlName="{{attribute.name}}-Clock" type="time"  placeholder="Wert des attributes" name="attribute">
            </div>
            <hr />
      </div>


  <div class="row submitrow">

    <button  mat-button class="submit" type="submit" [disabled]="!form.valid">Fertig!</button>
  </div>

</form>
</div>

</main>
