
*{
  font-size: 25px;
}

.hide{
  display:none;
}

.delete{
  color: white;
  padding: 5px;
  background-color: #d80030;
  border: 1px solid black;
  border-radius: 8px;
}

select{
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}


input{
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;

}


.edit{
  background-color: yellow;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  padding: 5px;
}

.addField{
  background-color: #4b565e;
  color: white;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 8px;
}

.container {
  margin-left: 40px;
  margin-top: 20px;
}


::placeholder {
  color: #ff3232;
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ff3232;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ff3232;
}
