* {

  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;

}

.redBackground {
  background-color: #d80030;
}

.greyBackground {
  background-color: rgba(234,235,235);
}
