
#container {

  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

a {
  margin: 10px;
}

button {

  width: 100%;

  padding: 30px;
  font-size: 25px;

/*  background-color: #d80030;   geregelt über class und globale styles.css
    :hover ebenfalls
*/
  color: white;
  border: 1px solid black;
  border-radius: 8px;
}
