
<div id="container">

  <button class="redBackground" type="button" id="bttnSearch" name="bttnSearch">Suchen</button>

  <button class="redBackground" type="button" id="bttnCreateObject" name="bttnCreateObject">Objekt anlegen</button>

  <a routerLink="/createCategory"><button class="redBackground" type="button" id="bttnCreateCategory" name="bttnCreateCategory">Kategorie anlegen</button></a>

  <button class="redBackground" type="button" id="bttnListCategories" name="bttnListCategories">Kategorien auflisten</button>

</div>
