
<div id="container">

  <a routerLink="/chooseCategory">
    <button class="redBackground" type="button" id="bttnCreateObject" name="bttnCreateObject">Objekt anlegen</button>
  </a>

  <a routerLink="/search">
      <button class="redBackground" type="button" id="bttnSearch" name="bttnSearch">Suchen</button>
  </a>

  <a routerLink="/createCategory">
    <button class="redBackground" type="button" id="bttnCreateCategory" name="bttnCreateCategory">Kategorie anlegen</button>
  </a>

  <a routerLink="/listCategories">
    <button class="redBackground" type="button" id="bttnListCategories" name="bttnListCategories">Kategorien auflisten</button>
  </a>


</div>
